.bodyimg{
	background-image: url("../World 1920x1080 (8).jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
div{
	text-align: center;
}

.dark{
	background-color: black;
}
h2{
	color: red;
	font-weight: bolder;
	font-family: cursive;
}
h1{
	color: teal;
	font-weight: bolder;
	font-family: cursive;
}
